.btn-grouplogine {
  display: flex;
  flex-direction: row;
}
.form-login {
  display: flex;
  flex-direction: column;
  /* margin: 1em; */
  margin-left: auto;
  margin-right: auto;
}
.cadena-login {
  height: 16px;
  width: 16px;
  bottom: 40px;
  position: relative;
  left: 10em;
}
.img-3d{
  display: flex;
  position: relative;
  right: 28em;
}

@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animatedBackground {
  background:#1E2334;

  background-size: 400% 400%;
}
.input-email {
  margin: 1em;
  border-radius: 4px;
  border: 1px solid;
  padding: 8px;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}
.button-others {
  display: flex;
  flex-direction: row;
  margin: 1em;
  align-items: center;
  justify-content: center;
}
.input-signupuser {
  margin: 1em;
  border-radius: 4px;
  border: 1px solid;
  padding: 8px;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}
.input-password {
  margin: 1em;
  border-radius: 4px;
  border: 1px solid;
  padding: 8px;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}
.title-login {
  color: white;
  margin: 20px;
  font-size: 45px;
}
.btn-grouplogine {
  display: flex;
  justify-content: space-evenly;
}
.login-container {
  margin-left: auto;
  margin-right: auto;

  background-color:#F9FAFB;
  padding: 20px;

  border-radius: 16px;

  background-size: 50px 50px; /* Ajustez selon la taille de votre motif */

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre subtile */
}

/* input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */

/*   button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  } */

button:hover {
  color: white;
}
