.codespromos-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  justify-content: center;
  MARGIN-LEFT: AUTO;
  WIDTH: 80%;
  gap: 20px;
  padding: 20px;
}

.codepromo {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.codepromo-title {
  color: #007bff;
  margin-bottom: 10px;
}

.codepromo-description {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.codepromo-expiration {
  color: #333;
  font-weight: bold;
}
