/* /* /* /* Category.css */
.category-container {

    flex-wrap: wrap; /* Permet aux catégories de passer à la ligne */
    justify-content: space-between;


  } 
  .category {
    flex: 0 0 calc(25% - 20px); /* 4 catégories par rangée avec marges */
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .category:hover {
    transform: scale(1.05);
  }
  
  .category-icon {
    width: 80px;
    height: 80px;
  }
  
  .category-title {
    font-size: 18px;
    margin-top: 10px;
  }
  .category {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5; /* Couleur de fond pour chaque catégorie */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    transition: transform 0.2s ease-in-out; /* Ajoutez une transition pour un effet de survol */
  }
  
  .category:hover {
    transform: scale(1.05); /* Agrandissement de la catégorie au survol */
  }
  
  .category-icon {
    width: 80px; /* Ajustez la taille de l'icône */
    height: 80px;
  }
  
  .category-title {
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Ajoutez des styles supplémentaires selon vos préférences */
  