/* BonPlans.css */
.bonplans-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les cartes de bon plan */
  justify-content: center;
}

.div-bonplans {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.bonplan {
  border: 1px solid #ddd; /* Bordure légère autour des cartes */
  border-radius: 8px; /* Bordures arrondies pour les cartes */
  padding: 20px; /* Espace à l'intérieur des cartes */
  width: 300px; /* Largeur fixe pour chaque carte de bon plan */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile pour un effet de profondeur */
  background-color: #fff; /* Arrière-plan blanc pour chaque carte */
  margin: 1em;
}

.bonplan h3 {
  color: #333; /* Couleur du texte pour le titre */
  margin-bottom: 10px; /* Espace sous le titre */
}

.bonplan p {
  color: #666; /* Couleur du texte pour la description */
  font-size: 14px; /* Taille de police pour la description */
  margin-bottom: 15px; /* Espace sous la description */
}

.bonplan a {
  display: inline-block;
  background-color: #007bff; /* Couleur d'arrière-plan pour le lien */
  color: #ffffff; /* Couleur du texte pour le lien */
  padding: 10px 15px; /* Padding autour du texte du lien */
  border-radius: 5px; /* Bordures arrondies pour le lien */
  text-decoration: none; /* Pas de soulignement pour le lien */
  font-weight: bold; /* Texte en gras pour le lien */
}

.bonplan a:hover {
  background-color: #0056b3; /* Couleur d'arrière-plan au survol */
}
