@import url("https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap");

.home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes spinCube {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.spinAnimation {
  animation: spinCube 10s infinite linear;
}

.animatedBackground {
  background: #1E2334;
  animation: animatedBackground 15s ease infinite;
  background-size: 400% 400%;
}
.img-home.entering,
.img-home.leaving {
  position: absolute;
  top: 0;
  width: 100%;
}

.img-home.entering {
  transform: translateX(100%); /* L'image entrante commence à droite */
}
.deal-button {
  position: absolute;
  bottom: 26.5%; /* ou ajustez en fonction de votre mise en page */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #00b2ff; /* ou toute autre couleur qui correspond à votre thème */
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.deal-button:hover {
  background-color: #009edb;
}

.img-home.leaving {
  transform: translateX(-100%); /* L'image sortante se déplace vers la gauche */
}
.img-home {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 80%; /* ou la hauteur de votre conteneur .home */
  max-width: 100%; /* ou la largeur de votre conteneur .home */
  width: 100%; /* Assurez-vous que l'image s'étend sur toute la largeur du conteneur .home */
  height: auto; /* Gardez le ratio de l'image */
  transition: transform 0.5s ease-in-out;
}
.img-home.left {
  transform: translateX(100%);
}
.img-home.right {
  transform: translateX(-100%);
}
.img-home.fade-out {
  opacity: 0; /* Devient transparent */
  transform: scale(
    0.8
  ); /* Ajoute un effet de réduction pendant la transition */
}

.img-home.fade-out {
  opacity: 0; /* Devient transparent */
}

.fleche-gauche,
.fleche-droite {
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fleche-gauche {
  left: 10px; /* ou ajustez selon votre design */
}

.fleche-droite {
  right: 10px; /* ou ajustez selon votre design */
}

.pagination {
  position: absolute;
  bottom: 20px; /* Distance du bas */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
  background-color: #717171; /* Couleur du dot actif ou au survol */
}

.animated-title {
  font-family: "Roboto Flex", sans-serif;
  animation: stroke 3s infinite alternate;
  stroke-width: 2;
  stroke: #A02D2D;
  font-size: 80px;
}

@keyframes stroke {
  0%   {
    fill: rgba(72,138,204,0); stroke: rgba(160,45,45,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(72,138,204,0); stroke: rgba(160,45,45,1); }
  80%  {fill: rgba(72,138,204,0); stroke: rgba(160,45,45,1); stroke-width: 3; }
  100% {
    fill: rgba(72,138,204,1); stroke: rgba(160,45,45,0);
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}

svg {
  font-family: "Roboto Flex", sans-serif;
  width: 100%;
  height: 100%;
}
