.link-navbar {
  color: white;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  margin: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.link-navbar:hover {
  color: #ffffff;
  background-color: #868789;
  border-radius: 18px;
}
.logohome {
  height: 164px;
  width: 164px;

  right: 40em;
  position: relative;
  top: 9em;
}
.link-connexion {
  text-decoration: none;
  color: white;
}
.link-inscription {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.navbar {
  /* Les autres propriétés du style de votre footer */
  background-color: #36373b;
}
button {
  margin: 1px;
}
.header {
}
.sign-up {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 75%;
  top: 6px;
  margin-bottom: 100em;
  width: 50%;
}

.btn-inscription {
  background-color: #e74a12;
  padding: 10px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}
.btn-connexion {
  background-color: #36373b;

  padding: 10px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}
/* .link-navbar:hover {
  color: #e74a12;

} */

.dropdown {
  position: relative;
  display: inline-block;
  bottom: 10px;
}

.dropdown-button {
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /* Ajoutez des propriétés pour améliorer l'intégration avec le navbar */
  border-radius: 4px; /* Arrondi des coins pour correspondre au style général */
  transition: background-color 0.3s ease; /* Transition pour l'interaction de la souris */
}

/* Effet au survol pour le bouton qui s'éclaircit légèrement */
.dropdown-button:hover {
  background: linear-gradient(to right, #1a1a1a, #2f2f2f, #3a3a3a, #4e4e4e);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e74a12;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
  justify-content: flex-start; /* Alignement des éléments au début */
  padding: 0; /* Ajustez le padding selon vos besoins */
  width: auto; /* Vous pouvez spécifier une largeur ou laisser 'auto' */
  column-count: 2; /* Créer deux colonnes */
  column-gap: 20px; /* Espacer les colonnes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Effet d'ombre */
  border-radius: 10px;
  font-weight: 600;
}
.dropdown-content .dropdown-item {
  color: white; /* Couleur du texte des items */
  padding: 12px 16px;
  text-decoration: none;

  display: block;
  width: 50%; /* Chaque élément prendra la moitié de la largeur du .dropdown-content */
}
/* .dropdown-content .dropdown-item:hover {
/*   background-color: #ddd; /* Couleur d'arrière-plan des items au survol */

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar {
  display: flex;
  bottom: 6.5em;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 1em;
  position: relative;
}
.search-button {
  background-color: #e74a12;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
}
.search-form {
  margin: 0.6em;
}
.search-button {
  padding: 4px;
  margin: 0.3em;
  border-radius: 12px;
}
.search-input {
  padding: 4px;
}
.link-new {
  background-color: #e74a12;
  border-radius: 4px;
}
